<%= link_to 'View All Pets', "/pets" %><br>
<%= link_to 'View All Shelters', "/shelters" %><br>
<%= link_to 'View This Shelters Pets', "/shelters/#{@shelter.id}/pets" %><br>

<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %></p>

<h2>Reviews</h2>
<% @shelter.reviews.each do |review| %>
  <% if review.save %>
    <h4><%= review.title %></h4>
    <p>Rating: <%= review.rating %></p>
    <p>More Information:
      <%= review.content %></p>
    <img src="<%= review.picture %>">
    <%= link_to 'Edit review', "/shelters/#{@shelter.id}/#{review.id}/edit" %>
  <% end %>
<% end %>
<br/><br/>
<%= link_to 'Write a Review', "/shelters/#{@shelter.id}/new" %><br/>
<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><br/>
<%= link_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %>
