<%= link_to 'View All Pets', "/pets" %><br>
<%= link_to 'View All Shelters', "/shelters" %><br>

<section id = "pet-<%=@pet.id%>">
  <img src="<%= @pet.image %>" alt="Pictured: <%= @pet.name %>">
  <h2><%= @pet.name %></h2>
  <p>About Me: <%= @pet.description %></p>
  <p>Approximate Age: <%= @pet.approximate_age %></p>
  <p>Sex: <%= @pet.sex %></p>
  <p>Status: <%= @pet.adoption_status %></p>

  <% if favorite.pets.include?(@pet.id.to_s) %>
    <%= link_to "Remove #{@pet.name} From Favorites", "/favorites/#{@pet.id}", method: :delete %><br/>
  <% elsif !favorite.pets.include?(@pet.id.to_s) %>
    <%= link_to "Add to Favorites", "/favorites/#{@pet.id}", method: :patch %><br/>
  <% end %>

  <%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %>
  <br/>
  <%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
</section>
